{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update Password</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update your account password</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <br/>

            <form method="POST" action="{% url 'update_password' %}">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-secondary btn-block">
                        Update Password
                    </button>
                </div>
            </form>

            <br/><br/>

        </div>
    </div>
</div>

{% endblock %}
